body {
  text-align: center;
  font-family: Source Code Pro;
  font-size: 20px;
  background: #222222;
  color: #ffffff;
}
a:link {
  color: #d88fff;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #d88fff;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #d88fff;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: #d88fff;
  background-color: transparent;
  text-decoration: underline;
}
/* ANIMATION STUFF */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInBottomLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 100%, 0);
  }
  to {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInBottomLeft {
  animation-name: fadeInBottomLeft;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  animation-name: fadeInRight;
}

@keyframes fadeInBottomRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 100%, 0);
  }
  to {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInBottomRight {
  animation-name: fadeInBottomRight;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotation {
  animation-name: rotation;
}

/*END OF ANIMATION STUFF */

.border {
  position: relative;
  border-radius: 50px;
  background: #ffffff;
  background-image: url("img/bg.png");
  background-repeat: repeat;
  padding: 25px;
  width: 450px;
  height: 850px;
  color: #000000;
  text-align: center;
  font-family: Source Code Pro;
  font-size: 20px;
  margin: auto;
  text-decoration: none;
  margin-bottom: 30px;
}
.download {
  border-radius: 10px;
  background: #000000;
  color: #ffffff;
  font-size: 30px;
  text-decoration: none;
  padding: 15px;
  width: 40%;
  margin: auto;
}

.row {
  width: 100%;
}

.left {
  float: left;
  margin-left: 20%;
}

.right {
  float: right;
  margin-right: 20%;
}

.middle {
  float: right;
  margin-right: 37%;
}

.grow {
  transition: transform 0.2s;
  margin: 0 auto;
}

.grow:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

.jacket {
  border-radius: 10px;
  width: 250px;
  height: 250px;
}
